Repository Tincre/phund, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, packaging, build, configuration, storybook, component, css, artist-facing, engineering, application

:heavy_minus_sign: downgrade react-markdown to commonjs and :fire: rehype + remark plugins
  package.json
  yarn.lock
Labels: packaging

:fire: simplify to not render inline html or fancy tables
  components/MarkdownWrapper.jsx
Labels: artist-facing, application

:fire: remove NODE_OPTIONS in test script
  package.json
Labels: packaging

:recycle: refactor cta button to bottom of outer div
  components/Sections/WhyInvest.jsx
  components/WhyInvestHero.jsx
Labels: artist-facing, application

:art: add transition + group hover animation [sc-699]
  components/Sections/FactCards.jsx
Labels: none

:heavy_plus_sign: add sendgrid/mail package
  package.json
  yarn.lock
Labels: packaging

:recycle: refactor to send email POST request to backend onClick [sc-755]
  components/Modal.jsx
  components/Sections/SafeTerms.jsx
Labels: artist-facing, application

:sparkles: add resolveSafeTypeToFilename nodejs util
  lib/node-utils.js
Labels: engineering, application

:sparkles: add basic email api func w/attachement [sc-755]
  pages/api/email-me.js
Labels: none

:sparkles: add default safe note content from y-combinator
  public/safes/PostmoneySafe-DiscountOnlyv1.1-8b5fdc03d26538ff24b3336d7a3e8f2b6756eca527a78b1c64fe0dc73904ce3b.pdf
  public/safes/PostmoneySafe-MFNOnlyv1.2-53dee6e87d480c724786fbe5339fa27871989b493bb3a0f73f8c54a953f040bb.pdf
  public/safes/PostmoneySafe-ValuationCapOnlyv1.1-cb4934724e32a5864fd43ca894e51c8c081ecef136409c2e94f00d92168230ec.pdf
Labels: none

:recycle: add <form> element wrapper on button for POST request [sc-755]
  components/Modal.jsx
Labels: artist-facing, application

:recycle: polish content + add email notification for business [sc-755]
  pages/api/email-me.js
Labels: none

:sparkles: add sendEmailNotification func [sc-755]
  lib/node-utils.js
Labels: engineering, application

:notebook: add feature section
  README.md
Labels: documentation

:recycle: :wrench: move api key setting to function [sc-755]
  lib/node-utils.js
Labels: engineering, application

:fire: remove duplicate func
  lib/node-utils.js
Labels: engineering, application

:recycle: move func into api call
  pages/api/email-me.js
Labels: none

:recycle: move api set into func body
  pages/api/email-me.js
Labels: none

:warning: :bug: add debugging output
  pages/api/email-me.js
Labels: none

:construction: wip commit w/debugging
  pages/api/email-me.js
Labels: none

:sparkles: :wrench: add simple analytics
  pages/_document.jsx
Labels: artist-facing, application

:fire: remove unused cta prop
  components/WhyInvestHero.jsx
Labels: artist-facing, application

:recycle: refactor SafeTerms to take session conditional
  components/Sections/SafeTerms.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: update styling for conditional login button
  components/Sections/SafeTerms.jsx
Labels: none

:recycle: add conditional render for no session
  components/Sections/WhyInvest.jsx
Labels: none

:recycle: refactor to remove conditional and push into components
  pages/index.jsx
Labels: artist-facing, application

:recycle: change from email to hard coded string
  pages/api/email-me.js
Labels: none

:recycle: add automatic 'from' object parsing FROM_EMAIL
  pages/api/email-me.js
Labels: none

:sparkles: :wrench: add site configuration file
  phund.config.js
Labels: none

:recycle: refactor to use business email from PhundConfig
  pages/api/email-me.js
Labels: none

:bug: import property from config
  pages/api/email-me.js
Labels: none

:bug: remove and fix default export -> named export
  phund.config.js
Labels: none

:bug: :notebook: change name to Phund proper
  README.md
Labels: documentation

:recycle: update footer section name to just Products
  cms.data.js
Labels: none

:bug: fix blog name margin + add inline flex display
  components/Newsletter.jsx
Labels: artist-facing, application

:recycle: change to whyinvest link id
  components/MobileNavbar.jsx
Labels: artist-facing, application

:bug: :art: fix margin error on bg-gray card
  components/Sections/WhyInvest.jsx
Labels: none

:recycle: add why-invest link versus root
  components/Hero.jsx
Labels: artist-facing, application

:art: :fire: remove px-4 directive
  components/WhyInvestCard.jsx
Labels: artist-facing, application

:bug: change to proper react camelCase
  pages/_document.jsx
Labels: artist-facing, application

.github/labeler.yml:

# The github labeling workflow bot
documentation:
    - ./README.md
    - ./*.md

test:
    - __test__/* 
    - ./*.test.js 
    - stories/*.test.js 

packaging:
    - package.json

build:
    - package-lock.json

configuration:
    - .storybook
    - .prettierrc.js
    - .eslintrc.js
    - postcss.config.js
    - tailwind.config.js

storybook:
    - .storybook/

component:
    - stories/*.js
    - components/*.js

css:
    - styles/*
    - tailwind.config.js

artist-facing:
    - pages/*
    - components/*

engineering:
    - lib/*

application:
    - pages/*
    - components/*
    - lib/*
