Repository Tincre/phund, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, packaging, build, configuration, storybook, component, css, artist-facing, engineering, application

:wrench: :sparkles: add cla + guidelines document [sc-607]
  CONTRIBUTING.md
Labels: documentation

:bug: fix content bug say -> stay [sc-703]
  cms.data.js
Labels: none

:recycle: incorporate FactCard + FactSnippet changes [sc-793]
  components/Sections/FactCards.jsx
  components/Sections/FactSnippets.jsx
Labels: none

:recycle: remove grid cols [sc-793]
  components/Sections/SafeTerms.jsx
Labels: none

:recycle: add conditional link to invest based on session [sc-793]
  components/MobileNavbar.jsx
Labels: artist-facing, application

:notebook: :art: prep for OSS release
  README.md
Labels: documentation

:notebook: add link to example for heading image [sc-875]
  README.md
Labels: documentation

:bug: fix dead link for CLA to close #37
  CONTRIBUTING.md
Labels: documentation

:notebook: add link to CONTRIBUTING.md
  README.md
Labels: documentation

:wrench: :sparkles: add OSS metadata
  package.json
Labels: packaging

:arrow_up: upgrade deps to their latest [sc-828] for feb
  package.json
  yarn.lock
Labels: packaging

:arrow_up: additional locking upgrades [sc-828]
  yarn.lock
Labels: none

:sparkles: :wrench: add mock for react-markdown es6 module
  __mocks__/react-markdown.js
Labels: none

:package: bump to 1.0.1
  package.json
Labels: packaging

:recycle: :wrench: add createdAt to user
  prisma/migrations/20220224223924_add_user_created_at/migration.sql
  prisma/schema.prisma
Labels: none

:recycle: add createdAt for Account and Session tables
  prisma/migrations/20220224224041_add_created_at_to_session_table/migration.sql
  prisma/migrations/20220224224344_format_and_add_created_at_to_account/migration.sql
  prisma/schema.prisma
Labels: none

:recycle: add tests to cover safe note resolution func + fetch mock
  __tests__/lib.test.js
Labels: none

:recycle: :white_check_mark: :wrench: add fetch mock
  __tests__/index.test.jsx
Labels: none

:recycle: move emailMe into separate func within utils.js
  components/Modal.jsx
  lib/utils.js
Labels: artist-facing, engineering, application

:sparkles: :white_check_mark: add initial naive test for Modal component
  __tests__/components/Modal.test.jsx
Labels: none

:recycle: add additional next/head mock + coverage
  __tests__/index.test.jsx
Labels: none

:label: update userSession prisma calls to exampleUserSession
  lib/db.js
Labels: engineering, application

:recycle: update UserSession to ExampleUserSession table
  prisma/migrations/20220225000026_add_example_user_session_infra/migration.sql
  prisma/schema.prisma
Labels: none

:package: bump to 1.0.2
  package.json
Labels: packaging

:recycle: update hostname to actual domain
  cms.data.js
Labels: none

:recycle: :bug: switch hostname to entityUrl
  pages/index.jsx
Labels: artist-facing, application

:notebook: :bug: fix small inline typo react-testing library link
  README.md
Labels: documentation

.github/labeler.yml:

# The github labeling workflow bot
documentation:
    - ./README.md
    - ./*.md

test:
    - __test__/* 
    - ./*.test.js 
    - stories/*.test.js 

packaging:
    - package.json

build:
    - package-lock.json

configuration:
    - .storybook
    - .prettierrc.js
    - .eslintrc.js
    - postcss.config.js
    - tailwind.config.js

storybook:
    - .storybook/

component:
    - stories/*.js
    - components/*.js

css:
    - styles/*
    - tailwind.config.js

artist-facing:
    - pages/*
    - components/*

engineering:
    - lib/*

application:
    - pages/*
    - components/*
    - lib/*
