Repository Tincre/phund, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, packaging, build, configuration, storybook, component, css, artist-facing, engineering, application

.github/labeler.yml:

# The github labeling workflow bot
documentation:
    - ./README.md
    - ./*.md

test:
    - __test__/* 
    - ./*.test.js 
    - stories/*.test.js 

packaging:
    - package.json

build:
    - package-lock.json

configuration:
    - .storybook
    - .prettierrc.js
    - .eslintrc.js
    - postcss.config.js
    - tailwind.config.js

storybook:
    - .storybook/

component:
    - stories/*.js
    - components/*.js

css:
    - styles/*
    - tailwind.config.js

artist-facing:
    - pages/*
    - components/*

engineering:
    - lib/*

application:
    - pages/*
    - components/*
    - lib/*

:recycle: add centered text w/padding on mobile [sc-645]
  components/WhyInvestCard.jsx
Labels: artist-facing, application

:bug: :art: fix newsletter styling issue [sc-645]
  components/Footer.jsx
Labels: artist-facing, application

:sparkles: add extracted newsletter component [sc-645]
  components/Newsletter.jsx
Labels: artist-facing, application

:recycle: import newsletterContent and pass down props to Footer [sc-645]
  pages/index.jsx
Labels: artist-facing, application

:sparkles: add newsletterContent prop [sc-645]
  cms.data.js
Labels: none

:recycle: add sensible defaults for fields if undefined and refactored data inputs [sc-645]
  components/Newsletter.jsx
Labels: artist-facing, application

:recycle: move callback code to Newsletter component
  components/Footer.jsx
Labels: artist-facing, application

:recycle: update sizing to be fixed [sc-645]
  components/Sections/FactCards.jsx
Labels: none

:recycle: change hero authed button to 'invest' [sc-645]
  components/Hero.jsx
Labels: artist-facing, application

:recycle: center content headings per [sc-645]
  components/FAQCard.jsx
Labels: artist-facing, application

:recycle: fix centering margin + flex on product KPIs [sc-645]
  components/Sections/FactSnippets.jsx
Labels: none

:recycle: rename Stats1 to Stats.jsx [sc-715]
  components/Sections/Stats.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: :white_check_mark: update for Stats rename + add data prop component test [sc-715]
  __tests__/components/Sections/Stats1.test.jsx
Labels: none

:recycle: change funded to phund [sc-718]
  cms.data.js
  pages/index.jsx
Labels: artist-facing, application

:sparkles: :art: add update square logo artwork [sc-718]
  public/logos/phund-square-small.webp
  public/logos/phund-square.svg
  public/logos/phund-square.webp
Labels: none

:recycle: change F icon to Ph [sc-718]
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/mstile-150x150.png
  public/icons/phund.webp
  public/icons/safari-pinned-tab.svg
  public/icons/site.webmanifest
Labels: none

:fire: remove unused icons
  public/logos/funded-square.png
  public/logos/jiggle-color.svg
  public/logos/jiggle.svg
  public/logos/plain-blue.svg
  public/logos/plain-gray.svg
  public/logos/plain-green.svg
  public/logos/plain-indigo.svg
  public/logos/plain-light.svg
  public/logos/plain-pink.svg
  public/logos/plain-purple.svg
  public/logos/plain-red.svg
  public/logos/plain-yellow.svg
  public/logos/resecurb-color.svg
  public/logos/resecurb.svg
  public/logos/symtric-color.svg
  public/logos/symtric.svg
  public/logos/welytics-color.svg
  public/logos/welytics.svg
  public/logos/wishelp-color.svg
  public/logos/wishelp.svg
Labels: none

:sparkles: add safe note terms component [sc-712]
  components/Sections/SafeTerms.jsx
Labels: none

:recycle: incorporate SafeTerms component [sc-712]
  pages/index.jsx
Labels: artist-facing, application

:fire: :recycle: remove unused signOut auth func
  components/FactSnippetsHero.jsx
Labels: artist-facing, application

:recycle: change id to 'info-block'
  components/Sections/InfoBlock.jsx
Labels: none

:recycle: extract safeTermsContent data from component tree [sc-712]
  cms.data.js
  components/Sections/SafeTerms.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: add cta section + down arrow [sc-571]
  components/Sections/SafeTerms.jsx
Labels: none

:recycle: :art: add animate-pulse to down button
  components/Hero.jsx
Labels: artist-facing, application

:sparkles: add cta prop to safeTermsContent [sc-571]
  cms.data.js
Labels: none

:art: add top + bottom margin to button
  components/Sections/SafeTerms.jsx
Labels: none

:bug: add missing period for cta section
  cms.data.js
Labels: none

:heavy_plus_sign: add tailwindcss util libs
  package.json
  yarn.lock
Labels: packaging

:sparkles: add new SafeNote and Modal components [sc-712]
  components/Modal.jsx
  components/SafeNote.jsx
Labels: artist-facing, application

:recycle: add state to manage Modal/SafeNote component rendering conditionally [sc-712]
  components/Sections/SafeTerms.jsx
Labels: none

:wrench: add tailwind configuration for typography plugin
  tailwind.config.js
Labels: configuration, css

:recycle: :art: add background gradient styling to offering section [sc-712]
  components/Sections/SafeTerms.jsx
Labels: none

:sparkles: :wrench: add initial safe note content [sc-712]
  public/safes/postmoney-discount.md
  public/safes/postmoney-mfn.md
  public/safes/postmoney-valuation-cap.md
  safe-note-content.js
Labels: none

:sparkles: add func to resolve safe note type into component
  lib/utils.js
Labels: engineering, application

:sparkles: add markdown support Wrapper component
  components/MarkdownWrapper.jsx
Labels: artist-facing, application

:recycle: refactor to filter safe note content dynamically [sc-712]
  components/SafeNote.jsx
  components/Sections/SafeTerms.jsx
Labels: artist-facing, application

:sparkles: add safe note individual components [sc-712]
  components/SafeDiscount.jsx
  components/SafeMfn.jsx
  components/SafeValCap.jsx
Labels: artist-facing, application

:heavy_plus_sign: add react-markdown rehype and gsm support
  package.json
  yarn.lock
Labels: packaging

:see_no_evil: disable eslint children rule
  components/MarkdownWrapper.jsx
Labels: artist-facing, application

:recycle: add small top padding to section
  components/Sections/SafeTerms.jsx
Labels: none
