Repository Tincre/phund, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, packaging, build, configuration, storybook, component, css, artist-facing, engineering, application

.github/labeler.yml:

# The github labeling workflow bot
documentation:
    - ./README.md
    - ./*.md

test:
    - __test__/* 
    - ./*.test.js 
    - stories/*.test.js 

packaging:
    - package.json

build:
    - package-lock.json

configuration:
    - .storybook
    - .prettierrc.js
    - .eslintrc.js
    - postcss.config.js
    - tailwind.config.js

storybook:
    - .storybook/

component:
    - stories/*.js
    - components/*.js

css:
    - styles/*
    - tailwind.config.js

artist-facing:
    - pages/*
    - components/*

engineering:
    - lib/*

application:
    - pages/*
    - components/*
    - lib/*

:wrench: add items for tailwindcss setup [sc-533]
  postcss.config.js
  styles/global.css
  tailwind.config.js
Labels: configuration, css

:sparkles: add initial nextjs, react, styling, and utility upstream deps [sc-533]
  package.json
  yarn.lock
Labels: packaging

:wrench: add generated strict nextjs linter [sc-533]
  .eslintrc.json
Labels: none

:sparkles: add initial index stock page [sc-533]
  pages/_app.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: slight refactor to use heading for test example
  pages/index.jsx
Labels: artist-facing, application

:wrench: :sparkles: :white_check_mark: add testing setup per nextjs documentation [sc-533]
  __mocks__/fileMock.js
  __mocks__/styleMock.js
  __tests__/index.test.jsx
  jest.config.js
  jest.setup.js
  package.json
  yarn.lock
Labels: packaging

:sparkles: add initial html render [sc-533]
  pages/funded.jsx
Labels: artist-facing, application

:recycle: modify test for grabbing headers of default template
  __tests__/index.test.jsx
Labels: none

:recycle: rewrite funded to base template [sc-533]
  pages/funded.jsx
  pages/index.jsx
Labels: artist-facing, application

:wrench: add exclusion for img prop + escaped entities
  .eslintrc.json
Labels: none

:recycle: add basic alt texts to images to pass eslint
  pages/index.jsx
Labels: artist-facing, application

:recycle: add basic site metadata + name sections w/ids [sc-533]
  pages/index.jsx
Labels: artist-facing, application

:recycle: refactor out sections as components [sc-533]
  pages/index.jsx
Labels: artist-facing, application

:bug: remove 'watch' from jest command for cicd [sc-533]
  package.json
Labels: packaging

:construction: add initial component files
  components/Footer.jsx
  components/Sections/Considerations.jsx
  components/Sections/FAQ.jsx
  components/Sections/FactCards.jsx
  components/Sections/FactSnippets.jsx
  components/Sections/InfoCarousel.jsx
  components/Sections/NavigationHero.jsx
  components/Sections/Stats1.jsx
  components/Sections/Stats2.jsx
  components/Sections/Team.jsx
  components/Sections/WhyInvest1.jsx
  components/Sections/WhyInvest2.jsx
Labels: artist-facing, application

../
  components/Footer.jsx
Labels: artist-facing, application

:recycle: add Footer import [sc-561]
  pages/index.jsx
Labels: artist-facing, application

:sparkles: add initial section components [sc-561]
  components/Sections/Considerations.jsx
  components/Sections/FAQ.jsx
  components/Sections/FactCards.jsx
  components/Sections/FactSnippets.jsx
  components/Sections/InfoCarousel.jsx
  components/Sections/NavigationHero.jsx
  components/Sections/Stats1.jsx
  components/Sections/Stats2.jsx
  components/Sections/Team.jsx
  components/Sections/WhyInvest1.jsx
  components/Sections/WhyInvest2.jsx
Labels: none

:recycle: add imported section components [sc-561]
  pages/index.jsx
Labels: artist-facing, application

:white_check_mark: :sparkles: add basic component tests [sc-561]
  __tests__/components/Footer.test.jsx
  __tests__/components/Sections/Considerations.test.jsx
  __tests__/components/Sections/FAQ.test.jsx
  __tests__/components/Sections/FactCards.test.jsx
  __tests__/components/Sections/FactSnippets.test.jsx
  __tests__/components/Sections/InfoCarousel.test.jsx
  __tests__/components/Sections/NavigationHero.test.jsx
  __tests__/components/Sections/Stats1.test.jsx
  __tests__/components/Sections/Stats2.test.jsx
  __tests__/components/Sections/Team.test.jsx
  __tests__/components/Sections/WhyInvest1.test.jsx
  __tests__/components/Sections/WhyInvest2.test.jsx
Labels: none

:recycle: add coverage to jest call
  package.json
Labels: packaging

:recycle: extract logoSrc
  components/Footer.jsx
Labels: artist-facing, application

:recycle: refactor Mobile and other nav
  components/Sections/NavigationHero.jsx
Labels: none

:recycle: add props to NavigationHero and Footer
  pages/index.jsx
Labels: artist-facing, application

:bug: fix undefined nav items and add keys
  components/Sections/NavigationHero.jsx
Labels: none

:recycle: extract individual components from NavigationHero [sc-561]
  components/Hero.jsx
  components/MobileNavbar.jsx
  components/MobileNavigationItem.jsx
  components/Navbar.jsx
  components/NavigationItem.jsx
Labels: artist-facing, application

:recycle: refactor out components [sc-561]
  components/Sections/NavigationHero.jsx
Labels: none

:bug: fix import path error
  components/Navbar.jsx
Labels: artist-facing, application

:sparkles: add component for Stats1 card [sc-561]
  components/StatNumberCard.jsx
Labels: artist-facing, application

:recycle: extract components and data from Stats1 [sc-561]
  components/Sections/Stats1.jsx
  pages/index.jsx
Labels: artist-facing, application

:sparkles: extract WhyInvest1 components [sc-561]
  components/WhyInvest1Card.jsx
  components/WhyInvest1Hero.jsx
Labels: artist-facing, application

:recycle: refactor imports for extracted WhyInvest1 components + data [sc-561]
  components/Sections/WhyInvest1.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: refactor fact cards component data + content [sc-561]
  components/Sections/FactCards.jsx
  pages/index.jsx
Labels: artist-facing, application

:fire: :white_check_mark: remove unused component + test
  __tests__/components/Sections/Stats2.test.jsx
  components/Sections/Stats2.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: combine WhyInvest2 cta w/FactSnippets component [sc-561]
  components/Sections/FactSnippets.jsx
  components/Sections/WhyInvest2.jsx
Labels: none

:recycle: rename WhyInvest1 to WhyInvest [sc-561]
  components/Sections/WhyInvest.jsx
  components/WhyInvestCard.jsx
  components/WhyInvestHero.jsx
  pages/index.jsx
Labels: artist-facing, application

:sparkles: extract FactSnippets components [sc-561]
  components/FactSnippetsHero.jsx
Labels: artist-facing, application

:recycle: refactor out FactSnippets components + data [sc-561]
  components/Sections/FactSnippets.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: :white_check_mark: update tests to include recently extracted/updated component changes [sc-561]
  __tests__/components/Sections/WhyInvest.test.jsx
  __tests__/components/Sections/WhyInvest1.test.jsx
  __tests__/components/Sections/WhyInvest2.test.jsx
Labels: none

:recycle: rename to InfoBlock + extract data [sc-561]
  components/Sections/InfoBlock.jsx
  components/Sections/InfoCarousel.jsx
  pages/index.jsx
Labels: artist-facing, application
