Repository Tincre/phund, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, packaging, build, configuration, storybook, component, css, artist-facing, engineering, application

.github/labeler.yml:

# The github labeling workflow bot
documentation:
    - ./README.md
    - ./*.md

test:
    - __test__/* 
    - ./*.test.js 
    - stories/*.test.js 

packaging:
    - package.json

build:
    - package-lock.json

configuration:
    - .storybook
    - .prettierrc.js
    - .eslintrc.js
    - postcss.config.js
    - tailwind.config.js

storybook:
    - .storybook/

component:
    - stories/*.js
    - components/*.js

css:
    - styles/*
    - tailwind.config.js

artist-facing:
    - pages/*
    - components/*

engineering:
    - lib/*

application:
    - pages/*
    - components/*
    - lib/*

:recycle: :white_check_mark: update naming for InfoBlock change
  __tests__/components/Sections/InfoBlock.test.jsx
  __tests__/components/Sections/InfoCarousel.test.jsx
Labels: none

:sparkles: :art: add basic team headshots
  public/team/dan.webp
  public/team/jason.webp
  public/team/phil.webp
Labels: none

:recycle: refactor component and data for Team [sc-561]
  components/Sections/Team.jsx
  pages/index.jsx
Labels: artist-facing, application

:sparkles: add extracted FAQCard component from FAQ section [sc-561]
  components/FAQCard.jsx
Labels: artist-facing, application

:recycle: extract data and components from FAQ section [sc-561]
  components/Sections/FAQ.jsx
  pages/index.jsx
Labels: artist-facing, application

:fire: remove Considerations component [sc-561]
  components/Sections/Considerations.jsx
Labels: none

:recycle: replace Considerations with another cta [sc-561]
  pages/index.jsx
Labels: artist-facing, application

:sparkles: add interactive button scroll
  components/Hero.jsx
Labels: artist-facing, application

:recycle: change section id to why-invest
  components/Sections/WhyInvest.jsx
Labels: none

:sparkles: :art: add basic svgs for socials
  public/images/facebook.svg
  public/images/github.svg
  public/images/instagram.svg
  public/images/linkedin.svg
  public/images/tiktok.svg
  public/images/twitter.svg
  public/images/youtube.svg
Labels: none

:sparkles: add extracted column component for Footer
  components/FooterColumn.jsx
Labels: artist-facing, application

:recycle: refactor data and views
  components/Footer.jsx
Labels: artist-facing, application

:recycle: incorporate refactored footer data/views
  pages/index.jsx
Labels: artist-facing, application

:heavy_plus_sign: add prisma deps [sc-540]
  package.json
  yarn.lock
Labels: packaging

:sparkles: add initial prisma items [sc-540]
  prisma/schema.prisma
Labels: none

:notebook: add prisma + auth overview documentation [sc-540]
  README.md
Labels: documentation

:heavy_plus_sign: add nanoid, localforage, jsonwebtoken, jwt-decode, swr, and validator [sc-540]
  package.json
  yarn.lock
Labels: packaging

:sparkles: :wrench: add internal library files
  lib/db.js
  lib/node-utils.js
  lib/prisma.js
  lib/utils.js
Labels: engineering, application

:sparkles: add session functionality for anonymous sessions [sc-540]
  pages/api/session.js
Labels: none

:sparkles: :wrench: add initial database schema + migrations [sc-540]
  prisma/migrations/20220131145922_initial_migration/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Labels: none

:sparkles: :wrench: add app setup for anonymous sessions w/prisma [sc-540]
  pages/index.jsx
Labels: artist-facing, application

:fire: :recycle: update b00st.com to tincre.com
  lib/node-utils.js
Labels: engineering, application

:heavy_plus_sign: add typescript dev dep to squash installation warnings
  package.json
  yarn.lock
Labels: packaging

:sparkles: add initial cms data file [sc-589]
  cms.data.js
Labels: none

:recycle: refactor to utilize imports from cms.data.js [sc-589]
  pages/index.jsx
Labels: artist-facing, application

:notebook: add section on cms.data.js per [sc-589]
  README.md
Labels: documentation

:bug: add missing imports
  pages/index.jsx
Labels: artist-facing, application

:sparkles: add robots.txt disclusion
  public/robots.txt
Labels: none

:sparkles: add basic next-auth catch-all route [sc-546]
  pages/api/auth/[...nextauth].js
Labels: none

:heavy_plus_sign: add next-auth deps [sc-546
  package.json
  yarn.lock
Labels: packaging

:heavy_plus_sign: add next-auth deps [sc-546]
  package.json
  yarn.lock
Labels: packaging

:sparkles: add next-auth database schema setup [sc-546]
  prisma/migrations/20220131191211_add_next_auth_setup_items/migration.sql
  prisma/schema.prisma
Labels: none

:wrench: add session provider [sc-546]
  pages/_app.jsx
Labels: artist-facing, application

:recycle: add basic session usage for authentication [sc-546]
  pages/index.jsx
Labels: artist-facing, application

:heavy_plus_sign: add nodemailer upstream dep for next-auth
  package.json
  yarn.lock
Labels: packaging

:sparkles: add naive complete setup for next-auth [sc-546]
  pages/api/auth/[...nextauth].js
Labels: none

:recycle: refactor to include next-auth session object [sc-546]
  components/Hero.jsx
  components/MobileNavbar.jsx
  components/Navbar.jsx
  components/Sections/NavigationHero.jsx
Labels: artist-facing, application

:recycle: implement useSession and pass session object to component tree [sc-546]
  pages/index.jsx
Labels: artist-facing, application

:recycle: :white_check_mark: add mockSession object to index test [sc-546]
  __tests__/index.test.jsx
Labels: none

Update cms.data.js
  cms.data.js
Labels: none
