Repository Tincre/phund, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, packaging, build, configuration, storybook, component, css, artist-facing, engineering, application

:notebook: add next-auth db and env items to readme [sc-546]
  README.md
Labels: documentation

:recycle: refactor to incorporate session object usage [sc-546]
  components/FactSnippetsHero.jsx
  components/Sections/FactSnippets.jsx
Labels: artist-facing, application

:recycle: pass down session to FactSnippets section component [sc-546]
  pages/index.jsx
Labels: artist-facing, application

:bug: fix " typos
  cms.data.js
Labels: none

:recycle: add hostname to cms.data.js + import
  cms.data.js
  pages/index.jsx
Labels: artist-facing, application

:recycle: extract InfoBlock content to cms.data.js + import
  cms.data.js
  pages/index.jsx
Labels: artist-facing, application

:recycle: refactor + extract remaining content sources for components
  cms.data.js
  pages/index.jsx
Labels: artist-facing, application

:heavy_plus_sign: add next-seo upstream [sc-585]
  package.json
  yarn.lock
Labels: packaging

:sparkles: add naive seo siteMetadata file [sc-585]
  siteMetadata.js
Labels: none

:sparkles: :wrench: add default seo [sc-585]
  pages/_app.jsx
Labels: artist-facing, application

:sparkles: :wrench: add route seo [sc-585]
  pages/index.jsx
Labels: artist-facing, application

:notebook: add one-liner about updating [sc-585]
  README.md
Labels: documentation

:sparkles: add convertkit api func [sc-595]
  pages/api/convertkit.js
Labels: none

:fire: remove unused newsletter code [sc-595]
  pages/index.jsx
Labels: artist-facing, application

:recycle: implement signup + error messages for newsletter [sc-595]
  components/Footer.jsx
Labels: artist-facing, application

:notebook: add overview of convertkit newsletter [sc-595]
  README.md
Labels: documentation

:sparkles: extract default stats icon
  components/DefaultStatsIcon.jsx
Labels: artist-facing, application

:sparkles: :white_check_mark: add test for lib and StatNumberCard component
  __tests__/components/StatNumberCard.test.js
  __tests__/lib.test.js
Labels: none

:recycle: refactor stats icon internals
  components/StatNumberCard.jsx
Labels: artist-facing, application

:sparkles: :art: add funded square logo
  public/logos/funded-square.png
Labels: none

:recycle: add Head metadata for favicons
  pages/index.jsx
Labels: artist-facing, application

:sparkles: :art: add favicons for Funded
  public/icons/android-chrome-192x192.png
  public/icons/android-chrome-512x512.png
  public/icons/apple-touch-icon.png
  public/icons/browserconfig.xml
  public/icons/favicon-16x16.png
  public/icons/favicon-32x32.png
  public/icons/favicon.ico
  public/icons/mstile-150x150.png
  public/icons/safari-pinned-tab.svg
  public/icons/site.webmanifest
Labels: none

:recycle: refactor to extract logoSrc into Navbar
  components/Navbar.jsx
  components/Sections/NavigationHero.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: add text-based logo if logoSrc is undefined
  components/Navbar.jsx
Labels: artist-facing, application

:recycle: add mobile nav passing down state via parent index render [sc-634]
  components/MobileNavbar.jsx
  components/MobileNavigationItem.jsx
  components/Navbar.jsx
  components/Sections/NavigationHero.jsx
  pages/index.jsx
Labels: artist-facing, application

:recycle: add basic transition property [sc-634]
  components/MobileNavbar.jsx
Labels: artist-facing, application

:recycle: :art: add additional ease-in-out transition prop [sc-634]
  components/Sections/NavigationHero.jsx
Labels: none

:fire: set logoSrc as undefined
  cms.data.js
Labels: none

:recycle: remove static logo source & add dynamic from prop
  components/Sections/NavigationHero.jsx
Labels: none

:recycle: add dynamic logo source for navigation on mobile
  components/MobileNavbar.jsx
  components/Sections/NavigationHero.jsx
Labels: artist-facing, application

:recycle: :art: change wording to include entityTitle
  cms.data.js
Labels: none

:recycle: :art: :beetle: fix styling button bugs
  components/Hero.jsx
Labels: artist-facing, application

:sparkles: extract logo into separate component
  components/Logo.jsx
Labels: artist-facing, application

:reyclce: refactor to use extracted Logo component
  components/Footer.jsx
  components/MobileNavbar.jsx
  components/Navbar.jsx
Labels: artist-facing, application

:see_no_evil: add exclusion for temp .env file
  .gitignore
Labels: none

:bug: :art: fix styling of mobile nav button to replicate hero button [sc-645]
  components/MobileNavbar.jsx
Labels: artist-facing, application

:bug: :art: remove bottom padding from section per [sc-645]
  components/Hero.jsx
Labels: artist-facing, application

:recycle: change flex items-center to items-start ti fix align stats cards as fixed [sc-645]
  components/FAQCard.jsx
  components/Sections/Stats1.jsx
Labels: artist-facing, application

:recycle: add aligned bullets + center for mobile [sc-645]
  components/WhyInvestHero.jsx
Labels: artist-facing, application

:bug: fix items-center to items-start for mobile centering [sc-645]
  components/Sections/WhyInvest.jsx
Labels: none

.github/labeler.yml:

# The github labeling workflow bot
documentation:
    - ./README.md
    - ./*.md

test:
    - __test__/* 
    - ./*.test.js 
    - stories/*.test.js 

packaging:
    - package.json

build:
    - package-lock.json

configuration:
    - .storybook
    - .prettierrc.js
    - .eslintrc.js
    - postcss.config.js
    - tailwind.config.js

storybook:
    - .storybook/

component:
    - stories/*.js
    - components/*.js

css:
    - styles/*
    - tailwind.config.js

artist-facing:
    - pages/*
    - components/*

engineering:
    - lib/*

application:
    - pages/*
    - components/*
    - lib/*
